
*{
    text-decoration: none;
    color: inherit;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.nav-item{
    display: flex;
}

li{
    list-style: none;
    padding: 1px;
    cursor: pointer;
    color: rgb(0, 0, 0)
}

header{
    background-color: #6c757d ;
}

.nav-bar{
    display: flex;

}
.navLinks {
    display: inline-block;
    font-size: calc(1rem + 1vw);
    font-weight:lighter;
    text-decoration: none;
    margin-right: 3rem;
    margin-left: 2rem;
    padding: 1rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.755);
    text-shadow: rgb(255, 255, 255) 1px 1px 2px,
        rgb(0, 0, 0) -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px,
        black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px;
}